# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### Custom

node_modules/
